# Telegram
BOT_TOKEN=...
CHAT_ID=...

# AI ключі
MISTRAL_API_KEY=....
OPENROUTER_API_KEY=sk-or-v1-...

# Гарячі клавіші
HOTKEY=f8
QUIT_HOTKEY=ctrl+alt+shift+q

# Модель (mistral-large-latest або інша)
SOLVER_MODEL=mistral-large-latest

# Налаштування
ENABLE_LOGGING=true
